*{
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    padding:5px 10px;
}
p{
    padding:2.5px 10px;
    font-family: Helvetica;
}
img{
   width: 128px;
   height: auto;
}