*{
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    font-size: x-large;
}
p{
    font-family: Helvetica;
    font-size: large;
}
img{
   width: 128px;
   height: auto;
   padding-top:10px;
   background-color: #606060;
   border-radius: 20px 20px 20px 20px;
}
.conteudo{
    width: 20%;
    padding: 2.5px 10px;
    background-color: #606060;
    border-radius: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

div p{
    background-color: #606060;
}
div h1{
    background-color: #606060;
}