*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color:white;
}

h1{
    font-size: x-large;
}

p{
    font-family: Helvetica;
    font-size: large;
}

img{
   width: 128px;
   height: auto;
}

.conteudo{
    width: 480px;
    padding: 2.5px 10px;
    text-align: center;
    padding: 15px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cinza{
    background-color: #606060;
}
.cinza-escuro{
    background-color: #404040;
}

#arredondar{
    border-radius: 20px 20px 20px 20px;
}