.botao{
    margin: 0;
    font-size: 14pt;
}


.botao, .botaoLista{
    text-decoration: none;
    padding: 5px 15px;
    background-color: #08ba94;
    color: #fff;
    border-radius: 20px;
}
.botaoLista{
    margin-left: 5;
    font-size: 12pt;
}

.botao:hover{
    background-color: #05998d;
}

.botaoLista:hover{ 
    background-color: #05998d;
}