.li{
    margin-bottom: 3;
    padding: 5;
}
.nav ul li{
    padding: 5;
    text-align: left;
}
.li Link{
    text-decoration: none;
    color: azure;
}
.article ul li{
    text-align: left;
}
.bgPurple{
        background-color: #4b297f;
        padding-bottom: 100%;
}