.li{
    margin-bottom: 3;
    padding: 5;
}
.nav ul li{
    padding: 5;
    text-align: left;
}
.li a{
    text-decoration: none;
    color: azure;
}
.article ul li{
    text-align: left;
}
.bg-purple{
        background-color: #4b297f;
}