#tabela-clara {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    text-align: center;
}

#tabela-clara th {
    padding: 12px 0px;
    background-color: #308fac;
    color: white;
}

#tabela-clara td,
#tabela-clara th {
    border: 1px solid #b9b9b9;
    padding: 8px;
}

#tabela-clara tr:nth-child(even) {
    background-color: #7c7c7c;
    color: #ddd
}

#tabela-clara th:hover {
    background-color: #4777d8;
}

#tabela-clara tr:nth-child(even):hover {
    background-color: #646262;
    color: #ddd
}

#tabela-clara tr:hover {
    background-color: #ccc9c9;
}